---
layout: page
format: item
---
{% capture FileName %}{{ page.url | split: '/' | last }}{% endcapture %}
{% capture ItemID %}{{ FileName | split: '.' | first }}{% endcapture %}

{% assign dc-base = "dublin-core-" %}<!-- assign for dublin core -->
<div class="grid-container">
<div class="float-right">
<div class="element-set">
<h2 id="Dublin Core">Course Information</h2>
<table class="stack"> <!-- table data -->
	{% for var in page %}
	{% if page[var] != "" and page[var] %}
		{% for key in site.data.metadata.fields %} <!-- looks to the metadata file and loops throuogh each field in that file -->
			{% if key[0] == var and key[1] %}
				{% capture dc-type %} {{ dc-base }}{{ key[0] }} {% endcapture %}
				{% if page[var].first %}
					{% assign varvalue = page[var] | uniq | join: ", " %}
				{% else %}
					{% assign varvalue = page[var] %}
				{% endif %}
				<tr>
					<td><div id="{{ dc-type }}" class="element">{{ key[1] }}</div></td>
					<td><div class="element-text">{{ varvalue }}</div></td>
				</tr>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}		
</table></div></div></div>
<h2>{{ page.state }}</h2>
<strong>{{ page.school }} | {{ page.year }}, {{ page.term }}. {{ page.disc }}.</strong><br><br>
<i>{{ page.banstate }}</i><br><br>
{{ page.intro }}

<br><br><a href="{{ site.baseurl }}/assets/pdfsyllabi/{{ page.identifier }}.pdf">Access the Syllabus PDF </a>
<br><br>
<div class="cell small-12 medium-6 large-4 card">
<div class="style-divider">
 	<div class="line"></div>
</div><br><br>

{{ content }}

</div>
		</div>
	</div>
</div>

<!--<div class="grid-container">
	<div class="grid-x grid-padding-x">
<div class="cell small-12 medium-6 large-4 card">
	<div class="card-thumbnail float-left"> -->
